@inherits LayoutComponentBase
<div class="page">
<NavMenu></NavMenu>

    <main>
   

        <article class="content">
            @Body
        </article>
    </main>

    <Footer></Footer>
</div>
