    <nav class="navbar" aria-label="huvudmeny">
      <NavLink href="/" id="logo">Blazor</NavLink>
        <ul class="navMenu">
             <li class="navItem"><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li class="navItem"><NavLink href="convert">Konvertering</NavLink></li>
        <li class="navItem"><NavLink href="json" >Json</NavLink></li>
        </ul>
         
<div class="hamburger" >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>
    </nav>

    <script src="js/main.js"></script>