@page "/"

<PageTitle>Hem</PageTitle>
<header>
    <div class="textImage">
   <h1>Moment 1.2 - Blazor</h1>
   <p>Av Viola Falk - Webbutveckling med .NET </p>
    </div>
     <img src="header.webp" alt="">
</header>
 
    <h1 class="text-center mt-4">Blazor sida</h1>
    <div class="line"></div>
<div class="centerText">
    <p>Denna sida har jag skapat med Blazor WebAssembly. All dynamiskt programmering är gjord med C#-kod. Designen är skapad med vanlig CSS kod tillsammans med Bootstrap. <br><br> Det har varit lärorikt att testa på Blazor, det är smidigt att det går att använda C# tillsammans med .NET för både klient och serverapplikationer. Jag gillar även att det är en komponentbaserat arkitektur så man kan dela upp koden mellan olika filer.  </p>
</div>



